 .sidebar-title {
  background-color:#FFC107;
  color:white;
  text-align: center;
  letter-spacing: 1px; 
}

ul
{
 background-color: transparent;
      list-style-type: none;
      padding-left: 0;
      border-color: transparent;
}
.active{
  background-color:rgba(177, 117, 218, 0.247);
  color:black;
  border-color: transparent;
 }
 
 .list-group-item{
  border-color: transparent;
 }

.fs-5{
text-align:center;
}