<div class="content rounded-0 mt-4">
  <div class="col-md-12">
      <div class="brand">
          <div class="card-header"><h5 class="title">Şifre Değiştir</h5></div>
          <div class="card-body">
              <form [formGroup]="userPasswordUpdateForm">

                    <div class="mb-3">
                        <label for="firstName">Şuanki Şifreniz:</label>
                        <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control" aria-label="Şuanki Şifreniz:"/>
                    </div>

                    <div class="mb-3">
                      <label for="lastName">Yeni Şifreniz:</label>
                      <input type="password" id="newPassword" formControlName="newPassword" class="form-control" aria-label="Yeni Şifreniz:"/>
                  </div>

                      <div class="card-footer d-flex justify-content-end">
                          <button class="btn btn-fill btn-warning btn-lg" (click)="updateUserPassword()">
                              Güncelle
                          </button>
                      </div>
              </form>
          </div>
      </div>
  </div>
</div>

