<div class="card-header text-center rounded-0 mt-4">
    <strong> {{bookDetails.bookName}} </strong>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4 rounded-0 mt-4">
        <img src="https://localhost:44337/{{ bookDetails.imagePath }}" 
        class="card-img-top" alt="..." width="450" height="600" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ bookDetails.bookName }}</h5>
      </div>
      <ul class="list-group list-group-flush" style="width: 528px">
        <li class="list-group-item">Yazar: {{ bookDetails.authorName }}</li>
        <li class="list-group-item">Kategori: {{ bookDetails.categoryName }}</li>
        <li class="list-group-item">Yayınevi: {{ bookDetails.publisherName }}</li>
        <li class="list-group-item">Sayfa: {{ bookDetails.page }}</li>
        <li class="list-group-item">Açıklama: {{ bookDetails.description }}</li>
        <li class="list-group-item">
          Fiyat : {{ bookDetails.price | currency: "₺" }}
        </li>
      </ul>
  
      <div class="row">
        <div class="col-md-6 mt-3">
            <button type="button" class="btn btn-warning" (click)="addToCart(bookDetails)">
              Sepete Ekle
            </button>
  
        </div>
      </div>
    </div>
