<div class="col-md-12">
  <div class="card">

    <div class="card-header">
      <h5 class="card-title text-center">Kategori Ekle</h5>
    </div>

    <div class="card-body">

      <form [formGroup]="categoryAddForm">

        <div class="mb-3 row">
          <label for="categoryName" class="col-sm-2 col-form-label">Kategori Adı:</label>
          <div class="col-sm-10">
            <input type="text" id="categoryName" formControlName="categoryName" class="form-control"/>
          </div>
        </div>

      </form>

    </div>

  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-fill btn-warning btn-lg" (click)="addCategory()" >
        Ekle
    </button>
  </div>

  </div>
</div>
