<div class="row">
  
    <div class="col-md-12">
  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Yayınevi Id</th>
            <th scope="col">Yayınevi Adı</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let publisher of publishers">
            <td>{{publisher.publisherId}}</td>
            <td>{{publisher.publisherName}}</td>
            <td><button routerLink="/publishers/update/{{publisher.publisherId}}" class="btn btn-warning" style="border-radius: 50px;">Güncelle</button></td>
            <td><button (click)="deletePublisher(publisher)" class="btn btn-danger" style="border-radius: 50px;">Sil</button></td>
          </tr>
        </tbody>
      </table>
  
    <div class="col-md-12" style="text-align:right">
  
      <button routerLink="/publishers/add" class="btn btn-success" style="border-radius: 50px; width: 150px;">Yayınevi Ekle</button>
  
    </div>
  
    </div>
  </div>
